<h1>Filter Rules for Slot <%= @slot.id %></h1>

<%= form_tag slot_path(@slot), :method => 'get', :id => "card_search", remote: true do%>
  <%= text_field_tag :search, params[:search], value: @slot.queries %>
<% end %>


<div class ="saved_filters"> </div>

<div class="text_results"></div>

<div class="results"> </div>

<div class="accepted"> </div>
