<h1>Filter Rules for Slot <%= @slot.id %></h1>

<!-- REVIEW change path here -->
<!-- REVIEW livesearch is broken -->
<%= form_tag slot_path(@slot), :method => 'get', :id => "card_search", remote: true do%>
  <%= text_field_tag :search, params[:search], value: @slot.queries %>
<% end %>

<h3>Matched Filters</h3>
<div class="text_results"></div>

<h3>Filtered Card Selection</h3>
<div class="results"> </div>

<!-- <div class="accepted"> </div> -->

<!-- REVIEW why does this initially split into categories? -->
<!--
<h3>Acceptable Cards for this Slot *TESTING*</h3>
<div class="accepted">
    <%# @slot.cards.each do |card| %>
      <%# image_tag(card.image_url, class: 'card_image') %>
    <%# end %>
</div> -->
