<h1>Welcome to DSet!</h1>
<div>A Dominion Card Database Search and Randomizer by Glen Cooney </div>

<h2>Overview</h2>
<div class = "about_body">DSet is a card database and randomizer for the popular tabletop game <a href="http://riograndegames.com/Game/278-Dominion">Dominion</a>.
  Users can search through its card database to find specific cards, or search for categories of cards to allow within their game. Players may then
  hit "Generate Card Set" to have the app select 10 cards at random to set up a game, selecting from within the filtering criteria provided by the user.</div>

<h2>About Dominion</h2>
<div class = "about_body">
  <p>Dominion is a deckbuidling game where players acquire cards to add to their ever-growing deck over the course of the game. Players
  use these cards to acquire better cards and ultimately gain Victory cards worth points at the end of the game. The base game includes 25 Kingdom
  Cards, of which 10 are chosen to form 10 piles of 10 cards each in the center of the table. These will be the cards available for players to acquire
  over the course of the game. </p>

<p>For a more comprehensive overview, <a href="https://www.youtube.com/watch?v=ABWzrCqOk70">check out this brief tutorial.</a></p>
</div>

<h2>Why DSet?</h2>
<div class = "about_body">DSet simulates the "randomizer deck" of physical Dominion, but with additional features to give players more control over the types
  of cards they will have available. Additionally, it is designed to streamline the process of card filtering criteria by allowing users to input only
  the minimum number of characters required to find a card or filtering category. </div>
