<div class='info-header'>
  Learn the Basics
</div>
<div class='tutorial-video-frame'>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HGnwIlCn0EQ" frameborder="0" allowfullscreen></iframe>
  <p class='video-caption'>Pro Tip: <a src='https://www.youtube.com/html5'>Enable html5 mode</a> and watch at 2x speed to get playing even quicker!</p>
</div>

<div class='info-header'>Learn Advanced Strategies</div>
<ul class='dominion-tutorial-iframe'>
  <li>
    <a src='http://wiki.dominionstrategy.com/index.php/Main_Page'>Dominion Strategy Wiki</a>
  </li>
  <li>
    <a src='https://dominionstrategy.com/'>Dominion Strategy Blog</a>
  </li>
  <li>
    <a src='https://www.twitch.tv/dominionstreams'>Watch the Pros Play on Twitch</a>
  </li>
</ul>
