<div class = "randomizer_control_btns">
  <%= link_to "Generate Card Set", generate_cards_path, class: "btn btn-success", method: :post, remote: true %>
  <%= link_to "Clear Card Filters", clear_filters_path, class: "btn btn-warning", method: :post, remote: true %>
</div>

<h1>Welcome to DSet</h1>
<div class='intro-text'>Use this app to control the types of cards are randomly chosen for your play session of Dominion.</div>

<div class='how-to'>
  <p>To begin, click a slot below to edit its filtering settings.</p>
  <p>When ready, click <b>Generate Card Set</b> above to randomize your cards.</p>
  <p>Click <b>Clear Card Filters</b> to reset the filters for all slots to default.</p>
</div>
<%= react_component('SlotContainer', slots: @slots_arr) %>

<!-- <div id='root'>Loading...</div> -->
