<div class = "randomized_buttons">
  <%= link_to "Generate Card Set", generate_cards_path, class: "btn btn-success", method: :post, remote: true %>
  <%= link_to "Clear Card Filters", clear_filters_path, class: "btn btn-warning", method: :post, remote: true %>
</div>

<div class = "slot_container"> </div>
