<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!-- REVIEW change path here -->
<%= form_tag root_path, :method => 'get', :id => "card_search", remote: true do%>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%# submit_tag "Search", :name => nil %>
</p>
<% end %>

<div class="results">
    <%= render partial: 'cards/cards', locals: {cards: @cards} %>
</div>
