<!-- REVIEW change path here -->
<%= form_tag root_path, :method => 'get', :id => "card_search", remote: true do%>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%# submit_tag "Search", :name => nil %>
</p>
<% end %>


<h1>Cards</h1>


<div class="results"> </div>
