<div class = "randomized_buttons">
  <%= link_to "Generate Card Set", generate_cards_path, class: "btn btn-success", method: :post, remote: true %>
  <%= link_to "Clear Card Filters", clear_filters_path, class: "btn btn-warning", method: :post, remote: true %>
</div>

<h1>Welcome to DSet</h1>
<div class='intro-text'>This app allows you to control the types of cards you play with for your Dominion game sessions.</div>

</div>

<div class = "slot_container"> </div>

<%= react_component('TestComponent') %>
