<div class="results">
    <% unless results.blank? %>
      <h3>Filtered Card Selection</h3>
    <% else %>
      <br>No results found.
    <% end %>

    <% results.each do |k,v| %>
      <h1><%= k %></h1>
      <% v.each do |card| %>
        <%= link_to image_tag(card.image_url, class: 'card_image'), assign_card_path(slot, card), method: :post, remote: true %>
      <% end %>
    <% end %>
</div>
