<div class="results">
    <% results.each do |k,v| %>
      <h1><%= k %></h1>
      <% v.each do |card| %>
        <%= image_tag(card.image_url, class: 'card_image') %>

      <% end %>
    <% end %>
</div>
