<div class="results">
  <% cards.each do |card| %>
    <%= image_tag(card.image_url, class: 'card_image') %>
  <% end %>
</div>

<!-- NOTE for future reference -->
<%# @cards.where("cost = ?", 3).each do |card| %>
<%# @cards.where(cost: 3..5).each do |card| %>
