  <!-- FIXME restore functionality here -->
  <ul>
    <% unless matched_terms.empty? %>
      <% matched_terms.each do |match|%>
        <li><%= match.html_safe %></li>
      <% end %>
    <% end %>
  </ul>
